@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding: 20px 0;
}

.nav {
  padding: 0;
}

.nav-link {
  color: #939699;
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.header-button {
  color: #ffffff;
  padding: 10px 20px;
  background: #4592ff;
  border-radius: 20px;
}

.button-text {
  color: #ffffff;
  margin-left: 10px;
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

/* slider */

.slider {
  position: relative;
}

.slide {
  padding: 80px 0 110px 0;
  min-height: 565px;
}

.slide-1 {
  background: #b4d1e0 url(../img/main.png) no-repeat top right;
}

.slide-2 {
  background: #d0b3cb url(../img/main.png) no-repeat top right;
}

.slide-3 {
  background: #dedcdd url(../img/main.png) no-repeat top right;
}

.label {
  max-width: 91px;
  color: #ffffff;
  padding: 5px 12px;
  background: #3dc47e;
  border-radius: 3px;
}

.slide-title {
  margin: 10px 0;
  color: #262d33;
  text-align: left;
  font-family: Roboto Slab, serif;
  font-weight: bold;
  font-size: 55px;
}

.slide-description {
  max-width: 335px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #4b5157;
}

.slide-button {
  color: #ffffff;
  background: #4592ff;
  border-radius: 20px;
  margin-top: 40px;
  padding: 10px 25px;
}

.button-price {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

.slider-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  z-index: 9;
}

/* card-top */

.cards {
  padding: 50px 0 60px 0;
}

.card {
  padding: 60px 46px 80px 46px;
  border-radius: 10px;
  min-height: 370px;
}

.card-1 {
  background: #e1e1e1 url(../img/card-1.jpg) no-repeat top right;
  background-size: cover;
}

.card-2 {
  background: #1d1f1d url(../img/card-2.jpg) no-repeat top right;
  background-size: cover;
}

.card-3 {
  background: #ccd5e6 url(../img/card-3.png) no-repeat top right 10%;
  background-size: contain;
  padding: 35px 49px 60px 49px;
}

.card-title {
  max-width: 220px;
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.card-title__black {
  color: #262d33;
}

.card-title__white {
  color: #ffffff;
}

.card-title-3 {
  max-width: 420px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}

.card-description {
  max-width: 175px;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
}

.card-description__black {
  color: #4b5157;
}

.card-description__white {
  color: #ffffff;
}

.card-description-3 {
  max-width: 320px;
  color: #4b5157;
  margin-bottom: 40px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 125px;
  padding: 10px 20px;
  background: #4592ff;
  border-radius: 20px;
}

.card-button__mw-160 {
  max-width: 160px;
}

.button-price__white {
  color: #ffffff;
}

.card-4 {
  padding: 35px 26px 212px 26px;
  background: #ff4f52 url(../img/card-4.png) no-repeat top right;
}

.card-title-4 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}

.card-description-4 {
  margin: 10px 0 15px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffc4c9;
}

.card-price {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.new-goods {
  padding: 0px 0 70px 0;
}

.new-goods__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #262d33;
}

.new-goods__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: Lato;
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #262d33;
}

.new-good {
  padding: 30px 36px 35px 36px;
  text-align: center;
}

.new-good__label {
  font-weight: 900;
  max-width: 50px;
  font-family: Lato;
  font-size: 12px;
  line-height: 15px;
}

.new-good__title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #262d33;
}

.new-good__color {
  margin-bottom: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4b5157;
}

.new-good__price {
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
  color: #262d33;
}

/* footer */

.footer {
  background: #8f79d4;
  padding: 45px 0px 40px 0px;
}

.footer-nav-menu > .nav-link {
  color: #ffffff;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}

.footer-nav-menu > .nav-link:first-child {
  padding-left: 0;
}

.social-link {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #e7d9ff;
}

.footer-kit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #e7d9ff;
  margin: 0;
}

.line {
  background-color: #fff;
}

.top {
  font-family: Lato;
  margin-right: 15px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

/* media */

@media (min-width: 1920px) {
  .slide {
    background-position: top right 35%;
  }
}

@media (max-width: 991px) {
  .header-logo {
    text-align: center;
  }

  .header-button {
    margin: auto;
  }

  .header__button-text {
    display: none;
  }

  .card-1 {
    margin-bottom: 24px;
  }

  .cards {
    padding-bottom: 0;
  }

  .new-goods {
    padding: 30px 0;
  }

  .footer-nav-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slide-description {
    color: #1a1717;
  }

  .footer-social {
    margin: 10px 0;
  }

  .footer-kit {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .slider-navbutton {
    display: none;
  }
}

@media (max-width: 576px) {
  .slide {
    min-height: 400px;
    padding: 30px 0;
    background-image: none;
  }

  .slide-title {
    font-size: 40px;
  }

  .slide-button {
    margin-top: 10px;
  }

  .footer-nav-menu > .nav-link {
    margin: auto;
  }

  .top {
    display: none;
  }
}

@media (min-width: 1620px) and (max-width: 1920px) {
  .slide {
    background-position: top right 30%;
  }
}

@media (min-width: 1400px) and (max-width: 1620px) {
  .slide {
    background-position: top right 15%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .slide {
    background-position: top right -20%;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .slide {
    background-position: top right -70%;
  }
}

.webp .slide-1{ background: #b4d1e0 url(../img/main.webp) no-repeat top right; }

.webp .slide-2{ background: #d0b3cb url(../img/main.webp) no-repeat top right; }

.webp .slide-3{ background: #dedcdd url(../img/main.webp) no-repeat top right; }

.webp .card-1{ background: #e1e1e1 url(../img/card-1.webp) no-repeat top right; }

.webp .card-2{ background: #1d1f1d url(../img/card-2.webp) no-repeat top right; }

.webp .card-3{ background: #ccd5e6 url(../img/card-3.webp) no-repeat top right 10%; }

.webp .card-4{ background: #ff4f52 url(../img/card-4.webp) no-repeat top right; }